Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2019-09, with the labels that each got.

#381 Fix Rg for keyvaults
  charts/ethos-repl-docmosis-backend/values.aat.template.yaml
  charts/ethos-repl-docmosis-backend/values.preview.template.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
Labels: ns:ethos-repl-docmosis-backend-pr-381

#382 AKS changes DB secrets
  charts/ethos-repl-docmosis-backend/values.preview.template.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:ethos-repl-docmosis-backend-pr-382

#383 disableLegacyDeployment
  Jenkinsfile_CNP
Labels: ns:ethos-repl-docmosis-backend-pr-383
