Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2020-06, with the labels that each got.

#754 Upgraded to java 11 and spring boot 2.3.0
  Dockerfile
  README.md
  build.gradle
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/requirements.yaml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/VerifyTokenService.java
  src/test/functional/java/uk/gov/hmcts/ethos/replacement/functional/util/TestUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateServiceTest.java
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-754

#762 Erp-1108 Response Received Date Validation - New
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest3.json
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-762

#763 ERP-1111 ECC Creation Validation - New
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-763

#767 ERP-1116 BF Date Report Generation - New
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-767

#776 ethosldata
  Jenkinsfile_CNP
  infrastructure/ethosldata.tfvars
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-776

#771 ERP-1149 Added Judgement Reconsideration fields
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-771
