Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2020-07, with the labels that each got.

#786 Erp 9999 bf date document name
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-786

#787 New callbacks for persistent queue
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/PersistentQueueActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/servicebus/CreateUpdatesBusSender.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkActionsControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/PersistentQueueActionsControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-787

#806 ERP-1172 - Print Hearing Error
  build.gradle
  dependency-check-suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/caseDetailsTest1.json
  src/test/resources/exampleListingSingleV1.json
  src/test/resources/exampleListingSingleV2.json
  src/test/resources/exampleV1.json
  src/test/resources/listingDetailsTest1.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-806
