Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2020-03, with the labels that each got.

#645 ERPs (755 and 769) Re-Work
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/helper/Constants.java
  src/test/resources/caseDetailsScotTest1.json
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest4.json
  src/test/resources/caseDetailsTest5.json
  src/test/resources/caseDetailsTest6.json
  src/test/resources/caseDetailsTest7.json
  src/test/resources/caseDetailsTest8.json
  src/test/resources/caseDetailsTest9.json
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-645

#646 Develop-To-Demo ERPs (755 and 769)
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/helper/Constants.java
  src/test/resources/caseDetailsScotTest1.json
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest4.json
  src/test/resources/caseDetailsTest5.json
  src/test/resources/caseDetailsTest6.json
  src/test/resources/caseDetailsTest7.json
  src/test/resources/caseDetailsTest8.json
  src/test/resources/caseDetailsTest9.json
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-646

#655 Release Candidate
  Jenkinsfile_CNP
  build.gradle
  charts/ethos-repl-docmosis-backend/values.preview.template.yaml
  charts/ethos-repl-docmosis-backend/values.prod.template.yaml
  dependency-check-suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/perftest.tfvars
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/HttpClientConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/ccd/types/DateListedType.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/ccd/types/RespondentSumType.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/helper/Constants.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/VerifyTokenService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkActionsControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseRetrievalForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseUpdateForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/VerifyTokenServiceServiceTest.java
  src/test/resources/caseDetailsScotTest1.json
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest2.json
  src/test/resources/caseDetailsTest4.json
  src/test/resources/caseDetailsTest5.json
  src/test/resources/caseDetailsTest6.json
  src/test/resources/caseDetailsTest7.json
  src/test/resources/caseDetailsTest8.json
  src/test/resources/caseDetailsTest9.json
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-655

#687 ERP-1017 - Additional caseType support in callbacks for LDATA _User a…
  infrastructure/perftest.tfvars
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/helper/Constants.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/MultipleReferenceService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SingleReferenceService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SubMultipleReferenceService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseUpdateForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/MultipleReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SingleReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SubMultipleReferenceServiceTest.java
Labels: ns:ethos, rel:ethos-repl-docmosis-backend-pr-687
