Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-06, with the labels that each got.

#1047 R5.0.9
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/CaseDefaultValuesConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/TribunalOfficesConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/YamlPropertySourceFactory.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/tribunaloffice/ContactDetails.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/domain/tribunaloffice/TribunalOffice.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ECCHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/FlagsImageHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultiplesHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseUpdateForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TribunalOfficesService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleSingleMidEventValidationService.java
  src/main/resources/defaults.yml
  src/main/resources/postDefaultValues.xlsx
  src/main/resources/preDefaultValues.xlsx
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultipleUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseUpdateForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TribunalOfficeServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3ServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleSingleMidEventValidationServiceTest.java
  src/test/resources/defaults.yml
  src/test/resources/postDefaultValues.xlsx
  src/test/resources/preDefaultValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1047

#1072 transfer all cases including ecc cases
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1072

#1077 Added contract tests
  Jenkinsfile_CNP
  build.gradle
  pacts/ethos_replDocmosis-idamApi_oidc.json
  src/test/contractTest/java/uk/gov/hmcts/ethos/replacement/contract/idam/IdamApiConsumerApplication.java
  src/test/contractTest/java/uk/gov/hmcts/ethos/replacement/contract/idam/IdamApiConsumerTest.java
  src/test/contractTest/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1077

#1100 Add suppression for CVE-2021-22118
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1100

#1101 ERP-2069 cause list date ranges
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1101

#1105 ERP 2087 enable local dev ethos service
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/DevQueueClient.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/QueueClientConfiguration.java
  src/main/resources/application-dev.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1105

#1114 ERP-2092 update for ecm-ccd-docker
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelDocManagementService.java
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1114

#1115 ERP-2092 Update ethos service to work with ecm-ccd-docker DM Store
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelDocManagementService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1115

#1116 Add script to setup ethos db
  src/main/resources/sqlscripts/setup-ethos-db.sh
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1116

#1117 changes made to update linked transferred cases
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1117

#1118 ERP-2065-batch-update-copies-incorrect-data
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilderTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1118

#1125 Test branch
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1125

#1129 gradle updated
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1129

#1133 reverted changes for ERP-2084
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1133

#1141 reverted changes
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1141

#1142 Ecm 130
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1142

#1143 dependency versions updated
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1143
