Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-11, with the labels that each got.

#1387 Ethos ecm 60
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/reportDetailsTestClaimsServed.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1387

#1398 cve suppressed
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1398

#1375 R5.0.18
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/MultipleDocGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationService.java
  src/test/end-to-end/helpers/idamApi.js
  src/test/end-to-end/helpers/s2sHelper.js
  src/test/end-to-end/tests/config.js
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultipleUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/caseDetailsScotTest1.json
  src/test/resources/caseDetailsScotTest3.json
  src/test/resources/reportDetailsTestClaimsServed.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1375

#1400 Feature/smoke tests and codecept js config
  .gitignore
  package.json
  src/test/config.js
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/helpers/idamApi.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/nextStep/nextStep.js
  src/test/end-to-end/paths/loginUser.js
  src/test/end-to-end/paths/manchester-Individual.js
  src/test/end-to-end/paths/scotland-Individual.js
  src/test/end-to-end/tests/config.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1400

#1405 ECM-388-CreateCCDPayload
  src/test/end-to-end/data/ccd-case-basic-data.json
  src/test/end-to-end/data/ccd-case-data.json
  src/test/end-to-end/helpers/s2sHelper.js
Labels: ns:ethos, prd:ethos, ecm-automation, rel:ethos-repl-docmosis-backend-pr-1405

#1407 ECM-396-CCD-DataStoreAPI
  src/test/config.js
  src/test/end-to-end/helpers/ccdDataStoreApi.js
  src/test/end-to-end/helpers/idamApi.js
  src/test/end-to-end/helpers/s2sHelper.js
  src/test/end-to-end/paths/loginUser.js
  src/test/end-to-end/paths/manchester-Individual.js
  src/test/end-to-end/paths/scotland-Individual.js
Labels: ns:ethos, prd:ethos, ecm-automation, rel:ethos-repl-docmosis-backend-pr-1407

#1404 ECM-146- DocStore changes
  build.gradle
  charts/ethos-repl-docmosis-backend/values.yaml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelDocManagementService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleAmendService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/SubMultipleUpdateService.java
  src/main/resources/application-dev.properties
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelDocManagementServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleAmendServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2ServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/SubMultipleUpdateServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1404

#1409 Chart Update for R5.0.19
  charts/ethos-repl-docmosis-backend/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1409

#1410 ECM-413 add judgement juridiction validation to case close event
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCloseEventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCloseEventValidationServiceTest.java
  src/test/resources/caseDetailsTest16.json
  src/test/resources/caseDetailsTest17.json
  src/test/resources/caseDetailsTest18.json
  src/test/resources/exampleV1.json
  src/test/resources/exampleV3.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1410

#1412 Update build.gradle
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1412

#1416 first commit
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesourcelocalreport/CaseSourceLocalReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/timetofirsthearing/TimeToFirstHearingReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CaseSourceLocalReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/resources/reportDetailsTest5.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1416

#1421 ECM-150 implemented
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1421

#1413 DynamicLists
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRespondentRepresentative.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRestrictedReporting.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleDynamicListFlagsService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleSingleMidEventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest2.json
  src/test/resources/caseDetailsTest3.json
  src/test/resources/caseDetailsTest4.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1413

#1417 Ecm-135 hearings to judgments report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsCcdReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportData.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportDetail.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportSummary.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsCaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsCcdReportDataSourceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/resources/hearingsToJudgmentsExpected.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1417

#1423 Dynamic Deposit Order
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicDepositOrder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest5.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1423

#1424 Fix hearings to judgments report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportData.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1424

#1426 Update DynamicDepositOrder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicDepositOrder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1426

#1428 Secure Doc Store Toggle - True
  src/main/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1428

#1429 SecureDocStore
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1429

#1431 DynamicDepositOrder
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicDepositOrder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DepositOrderValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DepositOrderValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/resources/caseDetailsTest5.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1431

#1427 Ecm 411 nightly pipeline setup
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  bin/run-e2e-tests.sh
  build.gradle
  package.json
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/createCase/createCase.js
  src/test/end-to-end/pages/createCasePages/page1initiateCase1.js
  src/test/end-to-end/pages/createCasePages/page2claimantDetails.js
  src/test/end-to-end/pages/createCasePages/page3RespondentsDetails.js
  src/test/end-to-end/pages/createCasePages/page4claimantWorkAddressDetails.js
  src/test/end-to-end/pages/createCasePages/page5ClaimantOtherDetails.js
  src/test/end-to-end/pages/createCasePages/page6BroughtForwardDates.js
  src/test/end-to-end/pages/createCasePages/page7claimantRepresented.js
  src/test/end-to-end/pages/createCasePages/page8UploadDocumentsPage.js
  src/test/end-to-end/pages/createCasePages/page9SubmitPage.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/paths/loginUser.js
  src/test/end-to-end/paths/manchester-Individual.js
  src/test/end-to-end/paths/scotland-Individual.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1427

#1434 fixed hearings to judgments report name
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/resources/hearingsToJudgmentsExpected.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1434

#1437 Ecm 46
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/MultipleDocGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicLetters.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleLetterService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/MultipleDocGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultipleUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleLetterServiceTest.java
  src/test/resources/caseDetailsScotTest1.json
  src/test/resources/caseDetailsScotTest2.json
  src/test/resources/caseDetailsScotTest3.json
  src/test/resources/caseDetailsTest1.json
  src/test/resources/caseDetailsTest2.json
  src/test/resources/caseDetailsTest3.json
  src/test/resources/caseDetailsTest4.json
  src/test/resources/caseDetailsTest7.json
  src/test/resources/caseDetailsTest8.json
  src/test/resources/caseDetailsTest9.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1437

#1438 Fix hearings to judgments report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1438

#1441 Ecm-401 fix excel null isssue
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1441

#1439 Ecm 140 new
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicDepositOrder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRespondentRepresentative.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsCcdReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
  src/test/resources/reportDetailsTest6.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1439

#1442 refactored multiple close event
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCloseEventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCloseEventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1442

#1444 Update DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1444

#1447 add previous fix for zip bomb error back in
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1447

#1440 fix preview tests sreport
  Jenkinsfile_CNP
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1440

#1448 ECM-453-Accept case
  .gitignore
  package.json
  src/test/config.js
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/JSWait.js
  src/test/end-to-end/helpers/PuppeteerHelper.js
  src/test/end-to-end/helpers/PuppeteerHelper_old.js
  src/test/end-to-end/helpers/WebDriverHelper.js
  src/test/end-to-end/pages/IDAM/signIn.js
  src/test/end-to-end/pages/common/commonConfig.json
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/createCasePages/page1initiateCase1.js
  src/test/end-to-end/pages/createCasePages/page2claimantDetails.js
  src/test/end-to-end/pages/createCasePages/page3RespondentsDetails.js
  src/test/end-to-end/pages/createCasePages/page4claimantWorkAddressDetails.js
  src/test/end-to-end/pages/createCasePages/page5ClaimantOtherDetails.js
  src/test/end-to-end/pages/createCasePages/page6BroughtForwardDates.js
  src/test/end-to-end/pages/createCasePages/page7claimantRepresented.js
  src/test/end-to-end/pages/createCasePages/page8UploadDocumentsPage.js
  src/test/end-to-end/pages/createCasePages/page9SubmitPage.js
  src/test/end-to-end/pages/nextStep/nextStep.js
  src/test/end-to-end/pages/preAcceptanceCase/acceptCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/loginUser.js
  src/test/end-to-end/paths/manchester-Individual.js
  src/test/end-to-end/paths/scotland-Individual.js
  src/test/end-to-end/paths/verifyAcceptCase.js
  yarn-error.log
Labels: ns:ethos, prd:ethos, ecm-automation, rel:ethos-repl-docmosis-backend-pr-1448
