Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-04, with the labels that each got.

#1020 ShowAll, bfactions validations and single to a multiple validation
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/CallbackRespHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/LabelsHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultiplesHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultiplesScheduleHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultiplesSchedulePrinter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCasesReadingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleScheduleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ScheduleCreationService.java
  src/main/resources/postDefaultValues.xlsx
  src/test/functional/java/uk/gov/hmcts/ethos/replacement/functional/util/DocumentUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultipleUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SingleCaseMultipleMidEventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ScheduleCreationServiceTest.java
  src/test/resources/exampleListingSingleV1.json
  src/test/resources/exampleListingV1.json
  src/test/resources/listingDetailsTest4.json
  src/test/resources/postDefaultValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1020

#1027 R5.0.8
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1027

#1034 Revert "R5.0.8"
  Dockerfile
  build.gradle
  charts/ethos-repl-docmosis-backend/Chart.yaml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1034

#1038 Added libharfbuzz library
  Dockerfile
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1038
