Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-12, with the labels that each got.

#1450 ECM-444-Puppeteer Helper
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/paths/verifyAcceptCase.js
  src/test/end-to-end/paths/verifyECMCase.js
Labels: ns:ethos, prd:ethos, ecm-automation, rel:ethos-repl-docmosis-backend-pr-1450

#1446 tests fixed
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1446

#1451 ECM- 454-Verify Reject Case
  src/test/end-to-end/pages/acceptanceCase/acceptCase.js
  src/test/end-to-end/pages/acceptanceCase/rejectCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyRejectCase.js
Labels: ns:ethos, prd:ethos, ecm-automation, rel:ethos-repl-docmosis-backend-pr-1451

#1453 Secure Doc Store test
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/ResourceLoader.java
  src/test/resources/responseDocStore.success.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1453

#1454 report json fixed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/resources/reportDetailsTest6.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1454

#1457 ECM-466-Verify Case Details
  package.json
  src/test/end-to-end/data/ccd-accept-case.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/helpers/ccdDataStoreApi.js
  src/test/end-to-end/helpers/idamApi.js
  src/test/end-to-end/pages/amendCaseDetails/amendCaseDetails.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyAcceptCase.js
  src/test/end-to-end/paths/verifyCaseDetails.js
Labels: ns:ethos, prd:ethos, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1457

#1458 ECm-478 Verify Claimant Details
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendClaimantDetails/amendClaimantDetails.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyClaimantDetails.js
Labels: ns:ethos, prd:ethos, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1458

#1459 Ecm 140 fixes
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1459

#1463 Ecm 140 null values replaced with empty string in report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1463

#1461 Ecm 487
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1461

#1464 add manchester case accept and reject scenarios
  src/test/end-to-end/data/ccd-case-manchester-data.json
  src/test/end-to-end/helpers/ccdDataStoreApi.js
  src/test/end-to-end/paths/verifyManchesterCCDCase.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1464

#1467 Ecm-133 no change in current position report
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/Constants.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingstojudgments/HearingsToJudgmentsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCaseData.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCcdDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportData.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportDetailMultiple.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportDetailSingle.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportSummary.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeSearchResult.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeSubmitEvent.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCcdDataSourceTests.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportDataTests.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportTests.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/resources/noChangeInCurrentPositionExpected.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1467

#1468 Update log4J version
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1468

#1469 ECM-484-Verify Respondent Details
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendRespondentDetails/amendRespondentDetails.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyRespondentDetails.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1469

#1472 Ecm-133 fixed multiple query
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReportTests.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1472

#1471 Ecm 20
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1471

#1474 ECM-522-Verify Respondent Representative
  src/test/end-to-end/codecept.conf.js
  src/test/end-to-end/data/ccd-case-basic-data.json
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendRespondentRepresentative/amendRespondentRepresentative.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyRespondentRepresentative.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1474

#1473 Ecm 133 no change in current position report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCcdDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/nochangeincurrentposition/NoPositionChangeCcdDataSourceTests.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1473

#1475 Update log4J version
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1475

#1476 ECM-490-Verify Jurisdiction
  src/test/config.js
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendJurisdiction/addAmendJurisdiction.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyCaseDetails.js
  src/test/end-to-end/paths/verifyJurisdiction.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1476

#1482 Re enable Fortify
  Jenkinsfile_nightly
  config/fortify-client.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1482

#1481 R5.0.22
  Jenkinsfile_nightly
  config/fortify-client.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1481

#1477 ECM-479-Verify Case Close
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/desposeCase/desposeCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyCaseClose.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1477

#1486 Ecm 465 manchester cw events
  Jenkinsfile_nightly
  config/fortify-client.properties
  src/test/end-to-end/data/ccd-case-manchester-data.json
  src/test/end-to-end/paths/verifyManchesterCaseAcceptCase.js
  src/test/end-to-end/paths/verifyManchesterCaseClaimantDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseClaimantRepresentative.js
  src/test/end-to-end/paths/verifyManchesterCaseDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseJurisdiction.js
  src/test/end-to-end/paths/verifyManchesterCaseRejectCase.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentRepresentative.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1486

#1488 ECM-495-Verify letters
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/generateCorrespondence/generateCorrespondence.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLetters.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1488

#1489 ECM-220 Rename caseData.caseType to ecmCaseType
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ECCHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SingleCaseMultipleMidEventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/tasks/BulkCreationTask.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultipleUtil.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SingleCaseMultipleMidEventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidatorTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/CaseDataBuilder.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1489

#1492 ECM-520-Verify fix case api
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/fixCaseApi/fixCaseApi.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyFixCaseAPI.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1492

#1491 Dynamic Judgments
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicJudgements.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DepositOrderValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationServiceTest.java
  src/test/resources/caseDetailsTest1.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1491

#1490 ECM-527 implemented, check styles fixed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1490

#1494 add manchester fix case api test
  src/test/end-to-end/paths/verifyManchesterFixCaseAPI.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1494

#1495 ECM-482-Verify BF Action
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/broughtForward/broughtForward.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyBFAction.js
Labels: ns:ethos, prd:ethos, ecm-automation, ecm-framework, rel:ethos-repl-docmosis-backend-pr-1495

#1496 manchester jur B/F action
  src/test/end-to-end/paths/verifyManchesterCaseBFAction.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1496

#1497 Remove instance variables from CaseTransferService
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/DocmosisApplication.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1497

#1501 ECM-542
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1501

#1500 ECM-185 Auto Populate Conciliation Track with Jurisdiction
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ConciliationTrackService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ConciliationTrackServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1500

#1502 ECM-431
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1502
