Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-10, with the labels that each got.

#1358 cve
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1358

#1359 Enable development service bus queues
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/DevQueueClient.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/QueueClientConfiguration.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkSearchService.java
  src/main/resources/application-dev.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1359

#1365 Ecm 198 - multiple reference hot fix
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferServiceTest.java
  src/test/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1365

#1369 Ecm 326
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ScheduleCreationService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1369

#1370 Fix multiple creation in local dev environment
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1370

#1371 ECM-73
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HelperTest.java
  src/test/resources/caseDetailsTest2.json
  src/test/resources/caseDetailsTest3.json
  src/test/resources/caseDetailsTest5.json
  src/test/resources/exampleV2.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1371

#1372 code change to add claim served date value
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1372

#1374 Removed dynamicList from Validation
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1374

#1377 fix for nightly build errors
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelCreationService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1377

#1380 bfAction Fix
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelper.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1380
