Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-07, with the labels that each got.

#1148 Ecm 24 - respondent rep removal
  document.docx
  lombok.config
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3ServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1148

#1149 ECM-214 Update venue address for Hull Combined Court Centre
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1149

#1150 Batch Removal of Respondent Rep added
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1150

#1153 respondent rep update code change reversed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1153

#1151 message corrected
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultiplePreAcceptService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1151

#1154 Update gitignore to ignore macos files and document.docx
  .gitignore
  document.docx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1154

#1152 default values added to caseData before letter generation
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationControllerTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1152

#1155 ecm-common reference update
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1155

#1159 ECM-225 batch update npe
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1159

#1158 ecm-common upgrade to version 0.1.94
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1158

#1161 Handle representative claimant type object with no values set
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleSingleMidEventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleSingleMidEventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1161

#1162 ecm-common reference version upgrade
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1162

#1164 refactoring done
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1164

#1163 ECM-216 fixed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1163

#1168 ecm-common version updated
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1168

#1169 Ecm 24
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1169

#1177 reverted changes for ecm-24
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1177

#1167 ECM-154 refactor cases completed report
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CaseCompletedReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/ReportHeaderValues.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1167

#1179 Ecm 154 fix conciliation tracks
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CaseCompletedReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1179

#1170 Ecm 30
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1170

#1223 ECM-154 cases completed missing data
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CaseCompletedReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1223

#1224 Add Teesside Mags
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1224

#1230 ECM-154 additional report updates
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/resources/reportDetailsTest3.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1230

#1231 ECM-154 Include conciliation track name in report data
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1231

#1236 ECM-154 set conciliation track report data
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/CasesCompletedReport.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1236

#1237 ECM-154 Report totals referring to incorrect data
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/test/resources/reportDetailsTest3.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1237

#1226 Remove CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1226

#1240 ecm-common version updated
  build.gradle
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1240

#1244 Add CVE suppressions
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1244

#1241 multiple reference link added
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseUpdateForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1241

#1246 multiple case reference link is removed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1246

#1247 ECM-139 Cases Awaiting Judgment report
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/ReportException.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReportData.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/PositionTypeSummary.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/ReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/ReportDetail.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/ReportSummary.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/DocmosisApplicationTests.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSourceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/CaseDataBuilder.java
  src/test/resources/casesAwaitingJudgmentExpected.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1247

#1249 ECM-139 Add logging for Cases Awaiting Judgment report
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1249

#1251 ECM-139 Handle null positionType
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1251

#1252 Prevent properties not in CCD config from being included in callback …
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReportData.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1252

#1253 ECM-294: helm-chart version updated
  charts/ethos-repl-docmosis-backend/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1253

#1254 Ecm 156 - live caseload total counts
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1254

#1250 ECM-9
  config/owasp/suppressions.xml
  security.sh
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1250
