Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-08, with the labels that each got.

#1255 Add checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/DevQueueClient.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1255

#1260 security.sh updated
  security.sh
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1260

#1264 Add property for local tornado service
  src/main/resources/application-dev.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1264

#1269 ECM-139 Update to Cases Awaiting Judgment search model
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/ReportDataSource.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CasesAwaitingJudgmentReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSourceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1269

#1270 ECM-139 Increase timeout for requests
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/config/HttpClientConfiguration.java
  src/main/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1270

#1271 Code changes related to renaming MultipleReferenceLink field
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleTransferServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1271

#1272 ECM-139: Rewrite elasticsearch query to improve Cases Awaiting Judgment report performance
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/ElasticSearchQuery.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casesawaitingjudgment/CcdReportDataSourceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1272

#1273 Live CaseLoad Report Summary Header data mappings
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/SubMultipleUpdateService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/resources/reportDetailsTest2.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1273

#1259 Fix fortify issues
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoConnection.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/resources/application-dev.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoConnectionTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/HttpUrlStreamHandler.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/MockHttpURLConnectionFactory.java
  src/test/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1259

#1274 CVEs fixed
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1274

#1275 CVEs fixed
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1275

#1276 CreationDataModel updates
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1276

#1277 Ecm297 cases completed session days
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CasesCompletedReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/HearingSession.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/SessionDays.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CaseCompletedReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/ReportHeaderValues.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/SessionDaysTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/CaseDataBuilder.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1277

#1278 Revert version back to 0.2.7
  charts/ethos-repl-docmosis-backend/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1278

#1279 Update Chart.yaml
  charts/ethos-repl-docmosis-backend/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1279

#1280 ECM-93: update tests to pass
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CasesCompletedReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CaseCompletedReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1280

#1282 ECM-29 Fix fortify issues
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1282

#1283 Reduce maxWarnings to current number of failures
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1283

#1284 Live caseload summary stat bug fixed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1284

#1287 Update Watford hearing venue address
  config/owasp/suppressions.xml
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1287

#1289 Update local dev properties to use IdAM stub
  src/main/resources/application-dev.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1289

#1288 ECM-312 Fix typo in address
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1288

#1290 CVE supressed
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1290

#1291 ECM-312: Watford address update
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1291

#1292 ECM-198 added markup code for multiple reference
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1292

#1293 ECM-255 Bulk add singles to multiple
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkAddSinglesController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ImportException.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesImporter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ValidatedSingleCase.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkAddSinglesControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesValidatorTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidatorTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1293

#1294 ECM-255 Validation changes
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidator.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidatorTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1294

#1296 ECM-316 Added WestMidlands DX Address
  src/main/resources/defaults.yml
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/resources/defaults.yml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1296

#1297 ECM-198 changed parentMultipleCaseId to try CaseLink type
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1297

#1285 R5.0.14
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkAddSinglesController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ExcelActionsController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CasesCompletedReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ImportException.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesImporter.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ValidatedSingleCase.java
  src/main/resources/application-dev.properties
  src/main/resources/defaults.yml
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/BulkAddSinglesControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CaseCompletedReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesValidatorTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/ExcelFileSingleCasesImporterTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/SingleCasesValidatorTest.java
  src/test/resources/defaults.yml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1285

#1298 ECM-324 implemented
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1298

#1302 Bump dependency versions
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1302
