Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2021-09, with the labels that each got.

#1326 Ecm 221 fortify
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/main/resources/logback-includes.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1326

#1338 ECM-337
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CasesCompletedReport.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1338

#1339 Removing Fortify as it will be released separately
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/main/resources/logback-includes.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1339

#1341 Fortify Isses
  src/test/functional/resources/config.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1341

#1342 ECM-134 implemented
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1342

#1343 ECM-134 - Setting value for cwAction
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1343

#1344 ECM-347 added LondonEast DX Address
  src/main/resources/defaults.yml
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/resources/defaults.yml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1344

#1345 Add service interfaces
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgeService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/RoomService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/VenueService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1345

#1340 MERGE BEFORE R5.0.15: Fortify Scan
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/main/resources/logback-includes.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1340

#1347 Adding azuread provider to fix terraform show error
  infrastructure/state.tf
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1347

#1307 R5.0.15 new
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BulkHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/FlagsImageHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/casescompleted/CasesCompletedReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/timetofirsthearing/TimeToFirstHearingReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleScheduleService.java
  src/main/resources/defaults.yml
  src/test/functional/resources/config.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/timetofirsthearing/TimeToFirstHearingReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoServiceTest.java
  src/test/resources/caseDetailsScotTest2.json
  src/test/resources/caseDetailsTest5.json
  src/test/resources/caseDetailsTest6.json
  src/test/resources/caseDetailsTest7.json
  src/test/resources/defaults.yml
  src/test/resources/reportDetailsTest4.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1307

#1349 Ecm 198 final fixes
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkUpdateService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleAmendCaseIdsService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleAmendService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/multiples/bulkaddsingles/BulkAddSinglesService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkSearchServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/SubMultipleServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleAmendServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1349

#1350 Ecm 198 final fixes
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1350

#1351 ECM-317 - Refactored code to set subMultipleName
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AddSingleCaseToMultipleService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1351

#1352 CVE Suppression
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1352

#1353 CVE Suppression
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1353

#1354 Creation Data Model relate changes
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/BulkCreationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleHelperService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/servicebus/CreateUpdatesBusSender.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1354

#1355 added code for jurisdiction validation when closing a case
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1355
