Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2022-10, with the labels that each got.

#1940 commit
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/ReferenceDataFixesService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1940

#1943 ECM-845 implemented
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/BFHelper.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1943

#1945 updated address
  src/main/resources/defaults.yml
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TribunalOfficeServiceTest.java
  src/test/resources/defaults.yml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1945

#1942 ECM-939
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/refdatafixes/ReferenceDataFixesController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/RefDataFixesCcdDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/RefDataFixesDataSource.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/RefDataFixesElasticSearchQuery.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/ReferenceDataFixesService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ReferenceDataFixesControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/refdatafixeshelper/RefDataFixesCcdDataSourceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceDataFixesServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1942

#1947 ECM-685
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/FixCaseApiService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/FixCaseApiServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1947

#1949 ECM-946 fix for master
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1949

#1948 ECM-939 fix
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/ReferenceDataFixesService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceDataFixesServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1948

#1951 check for judge's change
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/ReferenceDataFixesService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1951

#1952 [ECM-959]-Dependency CheckFix
  build.gradle
Labels: ns:ethos, prd:ethos, ecm-support, rel:ethos-repl-docmosis-backend-pr-1952

#1957 [ECM-961]-Enable FunctionalTests
  build.gradle
  src/test/end-to-end/paths/loginUser.js
Labels: ns:ethos, prd:ethos, ecm-support, rel:ethos-repl-docmosis-backend-pr-1957

#1959 [ECM-688] Leeds Office Multiples E2E
  Jenkinsfile_CNP
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/createCase/createMultiplesCase.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/createLeedsMultiples.js
Labels: ns:ethos, prd:ethos, ecm-automation-phase2, ecm-support, rel:ethos-repl-docmosis-backend-pr-1959

#1962 cve fix
  package.json
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1962

#1963 R5.0.42
  package.json
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1963

#1965 CVE fixed
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1965
