Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2022-07, with the labels that each got.

#1851 Ret 2030
  build.gradle
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECM.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperService.java
  src/main/resources/application-dev.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECMTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1851

#1864 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1864

#1867 Set currentPosition when case transferred to Reform ECM
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECM.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECMTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1867

#1872 Fix merge conflicts
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1872

#1849 R5.0.33
  build.gradle
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/PersistentQHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECM.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperService.java
  src/main/resources/application-dev.properties
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/PuppeteerHelper.js
  src/test/end-to-end/helpers/WebDriverHelper.js
  src/test/end-to-end/helpers/accessibility.js
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/helpers/utils.js
  src/test/end-to-end/pages/acceptanceCase/acceptCase.js
  src/test/end-to-end/pages/acceptanceCase/rejectCase.js
  src/test/end-to-end/pages/amendHearing/hearingListedInWeekend.js
  src/test/end-to-end/pages/broughtForward/bfActionsOutstandingError.js
  src/test/end-to-end/pages/createCase/createCase.js
  src/test/end-to-end/pages/createCase/createCaseConfig.json
  src/test/end-to-end/pages/createCasePages/createCaseConfig.json
  src/test/end-to-end/pages/createCasePages/page1initiateCase1.js
  src/test/end-to-end/pages/createCasePages/page2claimantDetails.js
  src/test/end-to-end/pages/createCasePages/page3RespondentsDetails.js
  src/test/end-to-end/pages/createCasePages/page4claimantWorkAddressDetails.js
  src/test/end-to-end/pages/createCasePages/page5ClaimantOtherDetails.js
  src/test/end-to-end/pages/createCasePages/page6BroughtForwardDates.js
  src/test/end-to-end/pages/createCasePages/page7claimantRepresented.js
  src/test/end-to-end/pages/createCasePages/page8UploadDocumentsPage.js
  src/test/end-to-end/pages/createCasePages/page9SubmitPage.js
  src/test/end-to-end/pages/newCase/newCase.js
  src/test/end-to-end/pages/newCase/newCaseConfig.json
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/manchester-Individual.js
  src/test/end-to-end/paths/scotland-Individual.js
  src/test/end-to-end/paths/validateHearingListedErrorMsgInWeekend.js
  src/test/end-to-end/paths/verifyBFActionOutstandingError.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCreationForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseTransferToReformECMTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/PersistentQHelperServiceTest.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1849

#1877 chart update
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.preview.template.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1877

#1883 Fix async CVE
  package.json
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1883
