Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2022-01, with the labels that each got.

#1498 print hearing lists tests
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/allocateHearing/allocateHearing.js
  src/test/end-to-end/pages/amendHearing/addAmendHearing.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/hearingDetails/hearingDetails.js
  src/test/end-to-end/pages/printHearingLists/printHearingLists.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLeedsCaseListHearing.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseHearingDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseListHearing.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1498

#1506 Feature/ecm 483 judgment test
  src/test/end-to-end/data/commonConfig.json
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendJudgment/addAmendJudgment.js
  src/test/end-to-end/pages/amendJurisdiction/addAmendJurisdiction.js
  src/test/end-to-end/pages/common/constants.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCaseJudgment.js
  src/test/end-to-end/paths/verifyManchesterCaseJudgment.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1506

#1508 ECM-542 Fix
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1508

#1510 ECM-527 Removal
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseHearingDetails.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1510

#1513 Ecm 527 removal in Prod
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseHearingDetails.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1513

#1516 update locators
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendRespondentRepresentative/amendRespondentRepresentative.js
  src/test/end-to-end/pages/restrictedCases/restrictedCases.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentRepresentative.js
  src/test/end-to-end/paths/verifyManchesterCaseRestrictedReporting.js
  src/test/end-to-end/paths/verifyRespondentRepresentative.js
  src/test/end-to-end/paths/verifyRestrictedReporting.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1516

#1518 Re enable hearing tests
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/amendJudgment/addAmendJudgment.js
  src/test/end-to-end/pages/amendRespondentRepresentative/amendRespondentRepresentative.js
  src/test/end-to-end/pages/restrictedCases/restrictedCases.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseHearingDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseJudgment.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentRepresentative.js
  src/test/end-to-end/paths/verifyManchesterCaseRestrictedReporting.js
  src/test/end-to-end/paths/verifyRespondentRepresentative.js
  src/test/end-to-end/paths/verifyRestrictedReporting.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1518

#1519 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1519

#1522 updated ecm-97 added
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaySummaryItem.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReportData.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReportDetail.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReportDoc.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/ListingGenerationControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportDocHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReportDocTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReportTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1522

#1514 Remove jcenter
  build.gradle
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1514

#1520 Update Judgment Validation
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicJudgements.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1520

#1521 DynamicJudgment Fix
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicJudgements.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/JudgmentValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1521

#1523 hearing break and resume auto populate removed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1523

#1525 ECM-91
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicDepositOrder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicJudgements.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRestrictedReporting.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1525

#1524 New ecm 97
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReport.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1524

#1526 Feature/ecm 562 cross browser tests implementation
  Jenkinsfile_nightly
  build.gradle
  package.json
  src/test/crossbrowser/supportedBrowsers.js
  src/test/end-to-end/helpers/SauceLabsReportingHelper.js
  src/test/end-to-end/pages/newCase/newCaseConfig.json
  src/test/end-to-end/paths/verifyAcceptCase.js
  src/test/end-to-end/paths/verifyCaseDetails.js
  src/test/end-to-end/paths/verifyClaimantDetails.js
  src/test/end-to-end/paths/verifyClaimantRepresentative.js
  src/test/end-to-end/saucelabs.conf.js
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1526

#1527 ECM-585
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelperTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1527

#1528 ECM-568
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1528

#1530 DocStore false
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  src/test/end-to-end/helpers/caseHelper.js
  src/test/end-to-end/pages/steps.js
  src/test/end-to-end/paths/verifyLeedsCasePrintHearingLists.js
  src/test/end-to-end/paths/verifyManchesterCasePrintHearingLists.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1530
