Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2022-12, with the labels that each got.

#1985 Ecm 1037
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1985

#1986 [ECM-1038]-Update Leeds Office Tests
  build.gradle
  src/test/end-to-end/pages/acceptanceCase/acceptCase.js
  src/test/end-to-end/paths/moveAcceptedCaseToCaseCloseStateErrorCheck.js
  src/test/end-to-end/paths/verifyBFAction.js
  src/test/end-to-end/paths/verifyBFActionOutstandingError.js
  src/test/end-to-end/paths/verifyCaseClose.js
  src/test/end-to-end/paths/verifyCaseDetails.js
  src/test/end-to-end/paths/verifyClaimantDetails.js
  src/test/end-to-end/paths/verifyClaimantRepresentative.js
  src/test/end-to-end/paths/verifyECMCase.js
  src/test/end-to-end/paths/verifyFixCaseAPI.js
  src/test/end-to-end/paths/verifyJurisdiction.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLetters.js
  src/test/end-to-end/paths/verifyRespondentDetails.js
  src/test/end-to-end/paths/verifyRespondentRepresentative.js
  src/test/end-to-end/paths/verifyRestrictedReporting.js
  src/test/end-to-end/paths/verifyUploadDocument.js
Labels: ns:ethos, prd:ethos, ecm-automation-phase2, rel:ethos-repl-docmosis-backend-pr-1986

#1987 [ECM-1039]-Postgresql-CVE-2022-41946-Fix
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1987

#1988 [ECM-1040]-Cross browser tests fix
  Jenkinsfile_nightly
  build.gradle
  src/test/end-to-end/paths/xbTests.js
  src/test/end-to-end/saucelabs.conf.js
Labels: ns:ethos, prd:ethos, ecm-automation-phase2, rel:ethos-repl-docmosis-backend-pr-1988

#1990 [ECM-1042]-Enable Headless Flag
  src/test/end-to-end/codecept.conf.js
Labels: ns:ethos, prd:ethos, ecm-automation-phase2, rel:ethos-repl-docmosis-backend-pr-1990

#1993 secure doc
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  config/owasp/suppressions.xml
  package.json
  src/main/resources/application-dev.properties
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1993

#1976 R5.0.45
  build.gradle
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/MultiplesHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2Service.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleUploadService.java
  src/main/resources/application-dev.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/ExcelReadingServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate2ServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleUploadServiceTest.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1976
