Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2022-04, with the labels that each got.

#1696 Bump versions
  build.gradle
  config/owasp/suppressions.xml
  package.json
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1696

#1699 ECM-696
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicLetters.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleLetterService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DynamicListHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleLetterServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1699

#1703 [ECM-699]- Path To Live Test Scope
  build.gradle
  src/test/end-to-end/paths/verifyAcceptCase.js
  src/test/end-to-end/paths/verifyCaseClose.js
  src/test/end-to-end/paths/verifyCaseDetails.js
  src/test/end-to-end/paths/verifyClaimantDetails.js
  src/test/end-to-end/paths/verifyClaimantRepresentative.js
  src/test/end-to-end/paths/verifyFixCaseAPI.js
  src/test/end-to-end/paths/verifyJurisdiction.js
  src/test/end-to-end/paths/verifyLeedsCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseHearingDetails.js
  src/test/end-to-end/paths/verifyLeedsCaseJudgment.js
  src/test/end-to-end/paths/verifyLeedsCaseListHearing.js
  src/test/end-to-end/paths/verifyLeedsCaseTransfer.js
  src/test/end-to-end/paths/verifyManchesterCaseAcceptCase.js
  src/test/end-to-end/paths/verifyManchesterCaseAllocateHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseBFAction.js
  src/test/end-to-end/paths/verifyManchesterCaseClaimantDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseClaimantRepresentative.js
  src/test/end-to-end/paths/verifyManchesterCaseClose.js
  src/test/end-to-end/paths/verifyManchesterCaseDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseHearingDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseJudgment.js
  src/test/end-to-end/paths/verifyManchesterCaseJurisdiction.js
  src/test/end-to-end/paths/verifyManchesterCaseLetters.js
  src/test/end-to-end/paths/verifyManchesterCaseListHearing.js
  src/test/end-to-end/paths/verifyManchesterCaseRejectCase.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentDetails.js
  src/test/end-to-end/paths/verifyManchesterCaseRespondentRepresentative.js
  src/test/end-to-end/paths/verifyManchesterCaseRestrictedReporting.js
  src/test/end-to-end/paths/verifyManchesterCaseTransfer.js
  src/test/end-to-end/paths/verifyManchesterFixCaseAPI.js
  src/test/end-to-end/paths/verifyRespondentRepresentative.js
  src/test/end-to-end/paths/verifyRestrictedReporting.js
Labels: ns:ethos, prd:ethos, ecm-automation-phase2, rel:ethos-repl-docmosis-backend-pr-1703

#1705 bug fixed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeCaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1705

#1709 new cve rc
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1709

#1708 new cve
  build.gradle
  config/owasp/suppressions.xml
  package.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1708

#1720 Spring retry cves
  config/owasp/suppressions.xml
  package.json
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1720

#1718 ECM-721
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1718

#1725 CVE Suppression
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1725

#1724 ECM-740
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/Constants.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/servingclaims/ServingClaimsReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1724

#1726 Ecm 734
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1726

#1728 refactor code
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/ReportCommonMethods.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/memberdays/MemberDaysReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/sessiondays/SessionDaysReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeCaseDataBuilder.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/hearingsbyhearingtype/HearingsByHearingTypeReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1728

#1729 ECM-670: Check if the case is disposed
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/timetofirsthearing/TimeToFirstHearingReport.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/timetofirsthearing/TimeToFirstHearingReportTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1729

#1732 ECM-749 implemented
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCloseValidator.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleCloseEventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseCloseValidatorTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1732

#1734 Update dependencies to use ecm-data-model
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1734

#1742 new cve
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1742

#1748 Ecm 748
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/claimsbyhearingvenue/ClaimsByHearingVenueReportData.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1748

#1751 Ecm 114 and 118
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/resources/caseDetailsScotTest4.json
  src/test/resources/caseDetailsTest20.json
  src/test/resources/expectedDocumentContent20.json
  src/test/resources/expectedDocumentContentScot4.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1751

#1754 Bug fix from unit test
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/resources/expectedDocumentContentScot4.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-1754
