Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2023-06, with the labels that each got.

#2072 E2E fixes
  Jenkinsfile_CNP
  src/test/end-to-end/pages/acceptanceCase/acceptCase.js
  src/test/end-to-end/pages/acceptanceCase/rejectCase.js
  src/test/end-to-end/pages/allocateHearing/allocateHearing.js
  src/test/end-to-end/pages/amendCaseDetails/amendCaseDetails.js
  src/test/end-to-end/pages/amendCaseDetails/amendCaseDetailsWithCasePosition.js
  src/test/end-to-end/pages/amendClaimantDetails/amendClaimantDetails.js
  src/test/end-to-end/pages/amendClaimantRepresentative/amendClaimantRepresentative.js
  src/test/end-to-end/pages/amendHearing/addAmendHearing.js
  src/test/end-to-end/pages/amendJudgment/addAmendJudgment.js
  src/test/end-to-end/pages/amendJurisdiction/addAmendJurisdiction.js
  src/test/end-to-end/pages/amendRespondentDetails/amendRespondentDetails.js
  src/test/end-to-end/pages/amendRespondentRepresentative/amendRespondentRepresentative.js
  src/test/end-to-end/pages/broughtForward/bfActionsOutstandingError.js
  src/test/end-to-end/pages/broughtForward/broughtForward.js
  src/test/end-to-end/pages/desposeCase/desposeCase.js
  src/test/end-to-end/pages/fixCaseApi/fixCaseApi.js
  src/test/end-to-end/pages/generateCorrespondence/generateCorrespondence.js
  src/test/end-to-end/pages/hearingDetails/hearingDetails.js
  src/test/end-to-end/pages/hearingDetails/updateHearingDetails.js
  src/test/end-to-end/pages/multiples/amendMultipleDetails.js
  src/test/end-to-end/pages/printHearingLists/printHearingLists.js
  src/test/end-to-end/pages/restrictedCases/restrictedCases.js
  src/test/end-to-end/pages/uploadDocument/uploadDocument.js
  src/test/end-to-end/paths/leedsMultiplesCase.js
  src/test/end-to-end/paths/leedsOfficeSingles.js
  src/test/end-to-end/paths/manchesterOfficeScenarios2.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2072

#2078 ECM-1277
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2078

#2080 R5.0.58
  README.md
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/UpdateDataModelBuilder.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/excel/MultipleBatchUpdate3Service.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2080
