Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2023-09, with the labels that each got.

#2101 ECM-1376,1377
  build.gradle
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.preview.template.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AcasCertificateController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/AcasCertificate.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/model/AcasCertificateRequest.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AcasService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/TornadoService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AcasCertificateControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/AcasServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/acasCertificate.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2101

#2099 ECM-1362, 1364
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/letters/InvalidCharacterCheck.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentGenerationService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2099

#2102 renovate
  build.gradle
  renovate.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2102
