Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2023-02, with the labels that each got.

#2004 R5.0.48
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/Helper.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2004

#2010 Func test disable
  src/test/end-to-end/paths/leedsOfficeSingles.js
  src/test/end-to-end/paths/manchesterOfficeScenarios.js
  src/test/end-to-end/paths/verifyBFAction.js
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2010

#2013 ECM-1092 implementation
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRespondentRepresentative.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2013

#2018 doc store enabled
  charts/ethos-repl-docmosis-backend/values.yaml
  src/main/resources/application.properties
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2018

#2017 Unit tests added for sonar issue fix
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2017

#2019 Sonar quality gate issues fix new branch
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2019

#2021 Press list Bug fix
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2021

#2024 tests fixes
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2024

#2025 Bump chart
  charts/ethos-repl-docmosis-backend/Chart.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2025

#2026 Bump chart
  charts/ethos-repl-docmosis-backend/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2026

#2027 Search hearing venue name check added
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2027

#2014 R5.0.49
  build.gradle
  config/owasp/suppressions.xml
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ListingHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/dynamiclists/DynamicRespondentRepresentative.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ListingServiceTest.java
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2014

#2028 DocStore CDAM download case removed
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2028
