Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2024-03, with the labels that each got.

#2181 ECM-1466
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/refdatafixes/ReferenceDataFixesController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/refdatafixes/ReferenceDataFixesService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceDataFixesServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2181

#2296 add doc event added
  build.gradle
  settings.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/constants/DocumentConstants.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AddDocumentController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AddDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/CaseDataBuilder.java
  src/test/resources/exampleV1.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2296

#2260 Refactor request to node-fetch and remove other CVEs
  package.json
  src/test/end-to-end/helpers/ccdDataStoreApi.js
  src/test/end-to-end/helpers/idamApi.js
  src/test/end-to-end/helpers/s2sHelper.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2260

#2300 RET-4875 document indexing feature
  build.gradle
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AddDocumentController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/AddDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2300

#2299 add doc event null checks added on optional fields
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2299
