Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2024-04, with the labels that each got.

#2307 Remove ethos v11 DB
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  infrastructure/modules.tf
Labels: ns:ethos, prd:ethos, destroy, rel:ethos-repl-docmosis-backend-pr-2307, aat/destroy

#2332 RET 5006
  Dockerfile
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DocumentManagementService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2332

#2357 Remove node cves
  package.json
  yarn.lock
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2357
