Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2024-07, with the labels that each got.

#2384 ecm common version update
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2384

#2385 ethos ref param provided
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseRetrievalForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2385

#2382 Jurisdiction Code updates
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ConciliationTrackService.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2382

#2386 ecm common version update
  build.gradle
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2386

#2401 RET-5331
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DocumentGenerationController.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2401
