Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2024-02, with the labels that each got.

#2203 Hearing details update implementation
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/claimsbyhearingvenue/ClaimsByHearingVenueReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/resources/exampleV4.json
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/caseDetailsScotTestHearingUpdates.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2203

#2235 Revert "Merge pull request #2234 from hmcts/revert-2203-RET-4562"
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/reports/claimsbyhearingvenue/ClaimsByHearingVenueReport.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/resources/exampleV4.json
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/resources/caseDetailsScotTestHearingUpdates.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2235

#2257 hearing details update mid event validation corrected
  package.json
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/CaseActionsForCaseWorkerController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/HearingsHelperTest.java
  src/test/resources/caseDetailsTestHearingDetailsUpdate.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2257

#2265 Update Dockerfile
  Dockerfile
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2265

#2264 bug fix
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/CaseManagementForCaseWorkerServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2264

#2268 cve suppressed
  config/owasp/suppressions.xml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2268

#2254 ECM-1509
  build.gradle
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/client/BundleApiClient.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DigitalCaseFileController.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DigitalCaseFileHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DigitalCaseFileService.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/EventValidationService.java
  src/main/resources/application.properties
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DigitalCaseFileControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DigitalCaseFileHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DefaultValuesReaderServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DigitalCaseFileServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/ReferenceServiceTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/JsonMapper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/utils/ResourceLoader.java
  src/test/resources/stitchBundleRequest.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2254

#2270 Update database-flexi.tf
  infrastructure/database-flexi.tf
Labels: ns:ethos, prd:ethos, destroy, rel:ethos-repl-docmosis-backend-pr-2270

#2271 V15 switch over
  charts/ethos-repl-docmosis-backend/Chart.yaml
  charts/ethos-repl-docmosis-backend/values.yaml
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2271

#2272 Venue Address Values updated
  build.gradle
  src/main/resources/venueAddressValues.xlsx
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2272
