Repository hmcts/ethos-repl-docmosis-service, pull requests merged in 2025-06, with the labels that each got.

#2545 RET-5659
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/ReportHelperTest.java
Labels: ns:ethos, prd:ethos, enable_keep_helm, rel:ethos-repl-docmosis-backend-pr-2545

#2557 Update timestamp to use London rather than UTC
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DigitalCaseFileHelper.java
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DigitalCaseFileService.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/controllers/DigitalCaseFileControllerTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DigitalCaseFileHelperTest.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/service/DigitalCaseFileServiceTest.java
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2557

#2560 RET-5228
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelper.java
  src/test/java/uk/gov/hmcts/ethos/replacement/docmosis/helpers/DocumentHelperTest.java
  src/test/resources/expectedDocumentContent20.json
Labels: ns:ethos, prd:ethos, rel:ethos-repl-docmosis-backend-pr-2560
